hero-container
  card-container(title="Az apartmanokról")
    p Mindkét nyaraló rendelkezik fedett első és hátsó terasszokkal. A parkolás a zárt udvarban, valamint a ház előtt is lehetséges.
    p A nyaraló állapotának, valamint vendégeink és szűkebb kernyezetünk nyugalmának megőrzése érdekében a Levendula Apartmanok nem alkalmasak nagyobb rendezvények illetve leány-, vagy legénybúcsúk megredezésére.
    p A nyaralók egyenként max. 5 férőhellyel rendelkezik. Igény szerint, időben történő foglalással nagyobb család illetve két társaság részére a két nyaraló egyben is kivehető (külön-külön térítési díj fejében). A hátsó teraszok ebben az esetben összenyithatók, közösen is használhatók lesznek. Így a nagyobb társaság akár együtt is eltöltheti a kellemes időt. (Együtt, de mégis külön.)

    .equipments
      .inside.listing
        h3 Mindkét házra jellemző
        ul.float
          li.float-item Két különálló szoba
          li.float-item Jól felszerelt konyha
          li.float-item Nappali-étkező
          li.float-item Zuhanykabinos fürdőszoba
          li.float-item Kutya és macska barát

      .inside.listing
        h3 Mindkét házban megtalálható (fontosabb dolgok)
        ul.float
          li.float-item Wi-Fi
          li.float-item Légkondícionáló
          li.float-item TV
          li.float-item Konyhai eszközök
          li.float-item Mikró
          li.float-item Törülközők
          li.float-item Ágynemű
          li.float-item Elektromos főzőlap

      .outside.listing
        h3 A kertben
        ul.float
          li.float-item Ping-Pong asztal
          li.float-item Csocsó asztal
          li.float-item Grill sütő
          li.float-item Napozó ágyak
          li.float-item Gyereksarok
          li.float-item Gyerek hinta
          li.float-item Grill sütő
          li.float-item Bogrács

  card-container(title="Levendula 1")
    .properties
      .unique
        p Apartman maximum 5 fő részére.
        p A kertben található egy retro (de felújított) kerti tusoló ami jó szolgálatot tesz nyári meleg napokon.
      .picture
        img.lavender1.img(src="../../assets/gallery/lavender1/img/1.jpg", alt='')
        .indicator((click)='openCarousel("lavender1")')
          i.far.fa-images
    .apartment-description
      h3 Pár szó a házról
      p A levendula apartman jelenlegi helyén lévő ház teljeseb máshogy festett mint, amit napjainkban láthattok. Kicsit leharcolt kicsit talán a 70-es évek nyaralóját idéző látvány fogadott bennünket. Kintről megközelíthető mosdóval és linoleum padlóval. Az egésznek volt egy kis szocreál romantikája. Egyből megláttuk benne a lehetőséget. Nem is haboztunk sokáig, megvettük es neki is láttunk a felújításnak. Nem volt egyszerű dolgunk de férjemmel karöltve kiforgattuk a sarkából a kis épületet és, amit most láttok mar csak nyomokban emlékeztet a régi vikkend házra.
      p Az utca jo adottságokkal rendelkezik révén közel van a központhoz és a balatonmáriai strandhoz is. Az utcában található éttermekbe, fagyizóba es az utcaval szembe lévő Coop áruházba mi is szívesen járunk.
      p Balatonmáriafürdő egyike azon üdülőfalvaknak, ahol üzemel szabadstrand is valamint a strandon mellékhelyiség is található.
      p Visszakanyarodva a házra, mikor a kertkapun belépünk az utca felőli teraszra érkezünk. A parkolás megengedett a kerítésen belül, mivel a ház mellett térkő fut egészen a hátsó teraszig. Az első teraszon kényelmesen elfogyaszthatjuk a reggeli kávénkat vagy az esti pohár borunkat. A hátsó terasz mellett helyezkedik el a grill sütő. Alkalmas családi vacsorákra, csocsózásra, őrült társasjáték party-k lebonyolítására vagy egyszerűen csak egy délutáni szundira, mivel itt található a függőágy is.
      p A hátsó kertben kapott helyet a szabadtéri (mobil) ping-pong asztal valamint a napozó ágyak is. A kert végében található a kerti retro tusoló, ami a nap melegétől felmelegszik (kőkorszaki nap collector) és az újtatöltéssel sem kell foglalkoznunk, mivel automatikusan töltődik.
      p Este pedig a környéken élő békák rákezdenek énekükre, amit a teraszról élvezhetünk. Az égésznek kölcsönöz egy kis vidéki balatoni érzést. Ha a kinti világítást felkapcsoljuk, akkor még egy kis esti beszélgetés is belefér.
      p A házból már nem hallani a békák társalgását. A TV-ben talán még elkaphatjuk a Barátok Közt 7452. epizódját de ha nem is nézünk tévét, akkor nyugalomba helyezhetjük magunkat a kanapén, vagy elkezdhetjük a gyerekek éjszakai üzemmódba kapcsolását.
      p Reggel pedig nekiláthatunk elkészíteni a tojásrántottát az elektromos főzőlapon és futhatunk is le a Balatonra csobbanni.


  card-container(title="Levendula 2")
    .properties
      .unique
        p Apartman maximum 5 fő részére.
      .picture
        img.lavender1.img(src="", alt='')
        .indicator.disabled((click)='openCarousel("lavender2")')
          p Képek hamarosan, érdeklődj Facebookon
    .apartment-description
      h3 Pár szó a házról
      p A Levendula 2 közvetlenül a Levendula 1 szomszédságában helyezkedik el, mivel egy ikerházról van szó. Ahogy a képeken is látszik a Levendula Apartman két különálló nyaralóról. Az eredeti építtető a saját családjának építette, de az évek során külön kézbe került. Mikor a Levendula 1 nyaralót megvásároltuk szinte biztosak voltunk benne, hogy a nyaraló másik felét is meg szeretnénk vásárolni, ha úgy alakul. Ahogy látjátok sikerült a tervünk megvalósítása és 2019-ben a másik házat is megvásároltuk.
      p Minden ami a Levendula 1 re igaz igaz a Levendula 2 re is. A nyaralót a másik nyaraló tükörképére kialakítottuk ki. Azonos elrendezés, azonos méretek. Az első évben a belső terek kialakításával kezdtünk. A másodikban pedig a teraszok elkészítését tűztük ki célnak.
      p A ket nyaralót próbáljuk két külön entitásnak tekinteni. Alap esetben a két nyaraló közt nincs átjárási lehetőség, viszont ha két baráti társaság foglalja le a két házat, akkor a hátsó teraszok igény szerint összenzithatók. Így megmarad a közös nyaralás élménye, de mégis külön apartmanban laknak. Nem hallatszik át zaj, ha mindkét oldalon vannak vendégek. 2021-től már a Levendula 2 is foglalható a webes felületünkön keresztül.
.carousel([ngStyle]='{ visibility: displayCarousel }')
  .current-image((click)="imageClick($event)", id="image", appImageLoader)
    .button-container
      .close
      .button.prev((click)="loadPrevImage($event)")
        i.fas.fa-arrow-left
    .button-container
      .button.close((click)='closeCarousel($event)')
        i.fas.fa-times
      .button.close-back.next((click)="loadNextImage($event)")
        i.fas.fa-arrow-right
  .description(*ngIf='activeCaption.length > 0')
    h1 {{activeCaption}}
    a {{activeText}}
