.hero((window:click)="closeCalendar()")
  .notification-panel(*ngIf="!bookingEnabled && showNotification")
      .hero-content
        h1 Figyelem!
        p Foglalás a weboldalon keresztül jelenleg szünetel.
        p A szabad időpontokat megtekintheted, de új foglalást nem tudsz beküldeni a weboldalon keresztül.
        p
          | Foglalási szándékodat kérlek
          |
          a(target="_blank", rel="noopener noreferrer", href='https://www.facebook.com/levendulabalatonmaria') Facebookon
          |
          | vagy az
          |
          a(routerLink='/contact', routerLinkActive='active', href='https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Hazirend.pdf') elérhetőségeink
          |
          | valamelyikén jelezd.
        p Megértésedet köszönjük!
        button.submit((click)="showNotification=!showNotification") Bezárás
  .hero-content

    // Person number
    .booking-form(*ngIf="bookingStage === 'person'")
      h1 Foglalás
      p Válassz időpontot vagy csak nézd meg a szabad heteket.
      .date-picker
        .arrival
          p.title Érkezés
          .date-field([ngClass]='{activeCalendar: arrivalCalendarActive}', (click)='toggleArrivalCalendar($event)')
            i.fas.fa-calendar-alt
            | {{ booking.arrival.getFullYear() }}. {{ getMonthNameById(booking.arrival.getMonth()) }} {{ booking.arrival.getDate() }}.
        .departure
          p.title Távozás
          .date-field([ngClass]='{activeCalendar: departureCalendarActive}', (click)='toggleDepartureCalendar($event)')
            i.fas.fa-calendar-alt
            | {{ booking.departure.getFullYear() }}. {{ getMonthNameById(booking.departure.getMonth()) }} {{ booking.departure.getDate() }}.
        app-calendar(*ngIf='showCalendar', [ngClass]="{arrivalPos: calendarMode === 'arrival', departurePos: calendarMode === 'departure'}", (destroy)='onCalendarDestroy()', (submit)='setDate($event)', [currentYear]="calendarInitDate.getFullYear()", [currentMonth]="calendarInitDate.getMonth()")
      .price-wrapper
        p Összesen fizetendő
        p.price {{ formatCurrency(booking.price) }} Ft
        p ({{ booking.nights }} éjszaka)
        p.small Előleg (30%)
        p.price.small {{ formatCurrency(booking.price*0.3) }} Ft
      .divider
      form((ngSubmit)="onPersonSubmit(form)", [formGroup]="formName")
        p.title Személyek (felnőtt + gyermek) *
        app-number-chooser(minimumNumber=1, maximumNumber=6, [selectedIdx]="booking.personCount" ,(selectedIndexChange)="booking.personCount = $event")
        p.title Négylábú személyek *
        app-number-chooser(minimumNumber= 0, maximumNumber=2, [selectedIdx]="booking.petCount", (selectedIndexChange)="booking.petCount = $event")
        button.submit(type='submit', [attr.disabled]="bookingEnabled? null : '' ") Tovább

    // booking data
    .booking-form(*ngIf="bookingStage === 'data'")
      h1 Foglalás
      form((ngSubmit)="onSubmit(form)", [formGroup]="formName")
        p.title Foglalási adatok
        .input-wrapper
          input([attr.disabled]="bookingEnabled? null : '' ", type='text', formControlName="lname", placeholder='*Vezetéknév (Kovács)', [(ngModel)]="booking.lname", [ngClass]="{'invalid-input': formName.get('lname').touched && formName.get('lname').hasError('required')}")
          .input-icon
            i.fas.fa-user
        .input-wrapper
          input([attr.disabled]="bookingEnabled? null : '' ", type='text', formControlName="fname", placeholder='*Keresztnév (Pál)', [(ngModel)]="booking.fname", [ngClass]="{'invalid-input': formName.get('fname').touched && formName.get('fname').hasError('required')}")
          .input-icon
            i.fas.fa-user
        .input-wrapper
          input([attr.disabled]="bookingEnabled? null : '' ", type='text', formControlName="phone", placeholder='*Telefonszám (+36301234567)', [(ngModel)]="booking.phone", [ngClass]="{'invalid-input': formName.get('phone').touched && formName.get('phone').hasError('required')}")
          .input-icon
            i.fas.fa-mobile
        .input-wrapper
          input([attr.disabled]="bookingEnabled? null : '' ", type='email', formControlName="email", placeholder='*E-mail (pelda@email.hu)', [(ngModel)]="booking.email", [ngClass]="{'invalid-input': formName.get('email').touched && (formName.get('email').hasError('required') || formName.get('email').hasError('invalidEmail'))}")
          .input-icon
            i.fas.fa-envelope
        textarea.message([attr.disabled]="bookingEnabled? null : '' ", formControlName="message", maxlength='300', placeholder='Megjegyzések', [(ngModel)]="booking.message", (input)='onMessageInput()')
        .info-wrapper
          p.char-count A *-al jelölt mezők kitöltése kötelező
          p.char-count Ennyi karakter maradt: {{ messageLength }}
        button.submit(type='submit', [disabled]="formName.invalid") Tovább
        p.back
          span((click)='onBack(0)') Vissza

    // Overview
    .booking-form.scroll-form(*ngIf="bookingStage === 'overview'")
      h1 Áttekintés
      .info-wrapper
          p.char-info A foglalás elküldéséhez tekerj lejjebb.
      .data
        p Érkezés:
        .icon-wrapper
          i.fas.fa-calendar-alt
        p
          | {{ booking.arrival.getFullYear() }}. {{ getMonthNameById(booking.arrival.getMonth()) }} {{ booking.arrival.getDate() }}.
      .data
        p Távozás:
        .icon-wrapper
          i.fas.fa-calendar-alt
        p
          | {{ booking.departure.getFullYear() }}. {{ getMonthNameById(booking.departure.getMonth()) }} {{ booking.departure.getDate() }}.
      .data
        p Személyek száma:
        .icon-wrapper
          i.fas.fa-users
        p {{ booking.personCount+1 }} fő
      .data
        p Négylábúak száma:
        .icon-wrapper
          i.fas.fa-paw
        p {{ booking.petCount }} fő
      .data
        p Teljes név:
        .icon-wrapper
          i.fas.fa-user
        p {{ booking.lname + ' ' + booking.fname }}
      .data
        p Telefonszám:
        .icon-wrapper
          i.fas.fa-mobile
        p {{ booking.phone }}
      .data
        p E-mail:
        .icon-wrapper
          i.fas.fa-envelope
        p {{ booking.email }}
      .data(*ngIf="booking.message.length>0")
        p Megjegyzések
      textarea.message.disabled(disabled, name='message', maxlength='300', placeholder='Nincsenek megjegyzések', [(ngModel)]="booking.message", #message, (input)='onMessageInput(message)')
      .divider
      .price-wrapper
        p Összesen fizetendő
        p.price {{ formatCurrency(booking.price) }} Ft
        p ({{ booking.nights }} éjszaka)
        p.small Előleg (30%)
        p.price.small {{ formatCurrency(booking.price*0.3) }} Ft
      ngx-invisible-recaptcha(#captchaElem='', [siteKey]="siteKey", (reset)='handleReset()', (ready)='handleReady()', (load)='handleLoad()', (success)='handleSuccess($event)', [useGlobalDomain]='false', [type]='type', [ngModel]='recaptcha', [ngModelOptions]='{ standalone: true }')
      .divider
      .checkbox-wrapper
          p
            input(type='checkbox', [checked]="dataProtection", (change)="dataProtection=!dataProtection")
            | Elolvastam és elfogadom az
            |
            a(target="_blank", rel="noopener noreferrer", href='https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Adatvedelmi_nyilatkozat.pdf') adatvédelmi
            |
            | nyilatkozatot! *
          p
            input(type='checkbox', [checked]="booking.subscribe", (change)="booking.subscribe=!booking.subscribe")
            | Szeretnék értesülni az újdonságokról e-mail-ben!
          p
            input(type='checkbox', [checked]="dataHandling", (change)="dataHandling=!dataHandling")
            | Hozzájárulok a megadott adataim kezeléséhez! *
          p
            input(type='checkbox', [checked]="houseRules", (change)="houseRules=!houseRules")
            | Elolvastam és elfogadom a
            |
            a(target="_blank", rel="noopener noreferrer", href='https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Hazirend.pdf') házirendet
            |
            | és a
            |
            a(target="_blank", rel="noopener noreferrer", href='https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Foglalassal_kapcsolatos_informaciok.pdf') foglalási feltételeket
            |
            | ! *
      button.submit(type='submit', (click)="sendBooking()", [disabled]="isSendingDisabled()") Foglalás most!
      p.back
        span((click)='onBack(1)') Vissza

    // Result
    .booking-form(*ngIf="bookingStage === 'result'")
      .result-wrapper
        .result.success(*ngIf="bookingResult === 'success'")
          i.fas.fa-info-circle.result
          p.status Foglalási igény elküldve
          p.description Foglalási igényét elbírálásra elküldtük. Hamarosan visszajelzünk, köszönjük.
          p.reservation-info
            | Foglalási azonosító:
            |
            b {{booking.reservationId}}
        .result.failed(*ngIf="bookingResult === 'failed'")
          i.fas.fa-times.result
          p Sikertelen foglalás
          p.description Kérjük próbálja meg más időponttal.
      p.back
        span((click)="onBack(0)") Vissza
    .loading(*ngIf="showLoading")
      app-loading-circle(show="false")

  .hero-content.info
    h2 Információk
    p - A szálláshely kistestű kutya és macskaféle befogadására alkalmas.
    p - Az Idegenforgalmi Adó (IFA) nincs az árban.
    p - A főszezon június 15-től augusztus 31-ig tart.
    p - Főszezonban leginkább hét éjszakás (szombattól szombatig) foglalásokat várunk. Szezonon kívül minimum két éj foglalható.
    p - A lefoglalt időintervallumot az előleg átutalása után tekintjük hivatalosnak. A vissza nem igazolt foglalások 72 órán belül törlődnek!
    p
      | - Kérlek az utalás közleményébe írd bele a foglalási számod. Előleg átutalásához szükséges adatokat a
      |
      a(href="/contact") kapcsolat menüpont alatt
      |
      | valamint az utalás menetéről e-mail-ben és
      |
      a(target="_blank", rel="noopener noreferrer", href="https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Foglalassal_kapcsolatos_informaciok.pdf") az alábbi linken
      |
      | találsz.
    p - Érkezés a foglalt napon 14:00 órától lehetséges, a távozás 10:00 órától szükséges.
    p
      | - Lemondásról és egyéb információkról részleteket az
      |
      a(target="_blank", rel="noopener noreferrer", href="https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Foglalassal_kapcsolatos_informaciok.pdf") az alábbi linken
      |
      | vagy a visszaigazoló e-mail-ben találsz.
