.hero((window:click)="closeCalendar()")
  .hero-content
    //img.lavender(src='assets/img/lavender.png', alt='')
    .booking-form(*ngIf="bookingStage === 'form'")
      h1 Foglalás
      .date-picker
        .arrival
          p.title Érkezés:
          .date-field([ngClass]='{activeCalendar: arrivalCalendarActive}', (click)='toggleArrivalCalendar($event)')
            i.fas.fa-calendar-alt
            | {{ booking.arrival.getFullYear() }}. {{ months[booking.arrival.getMonth()] }} {{ booking.arrival.getDate() }}.
        .departure
          p.title Távozás:
          .date-field([ngClass]='{activeCalendar: departureCalendarActive}', (click)='toggleDepartureCalendar($event)')
            i.fas.fa-calendar-alt
            | {{ booking.departure.getFullYear() }}. {{ months[booking.departure.getMonth()] }} {{ booking.departure.getDate() }}.
        app-calendar(*ngIf='showCalendar', [ngClass]="{arrivalPos: calendarMode === 'arrival', departurePos: calendarMode === 'departure'}", (destroy)='onCalendarDestroy()', (submit)='setDate($event)', [currentYear]="calendarInitDate.getFullYear()", [currentMonth]="calendarInitDate.getMonth()")
      .price-wrapper
        p Fizetendő összeg:
        p.price {{ formatCurrency(booking.price) }} Ft
        p ({{ booking.nights }} éjszaka)
        p.small Előleg:
        p.price.small {{ formatCurrency(booking.price/2) }} Ft
      .divider
      form((ngSubmit)="onSubmit(form)" #form="ngForm")
        p.title Foglalási adatok:
        .input-wrapper
          input(type='text', name='name', placeholder='Teljes név *', required, [(ngModel)]="booking.name" #nameInput="ngModel")
          .input-icon
            i.fas.fa-user
          .invalid-feedback(*ngIf='f.submitted && nameInput.invalid')
            div(*ngIf='nameInput.errors.required') Name is required
        .input-wrapper
          input(type='text', name='phone', placeholder='Telefonszám *', required, [(ngModel)]="booking.phone" #phoneInput="ngModel")
          .input-icon
            i.fas.fa-mobile
        .input-wrapper
          input(type='email', name='email', placeholder='Email *', required, [(ngModel)]="booking.email" #emailInput="ngModel")
          .input-icon
            i.fas.fa-envelope
          .invalid-feedback(*ngIf='f.submitted && emailInput.invalid')
            div(*ngIf='emailInput.errors.required') Name is required
            div(*ngIf='emailInput.errors.email') Name is required
        textarea.message(name='message', maxlength='300', placeholder='Megjegyzések', [(ngModel)]="booking.message", #message, (input)='onMessageInput(message)')
        p.char-count Ennyi karakter maradt: {{ messageLength }}
        button.submit(type='submit', [disabled]="form.invalid || reservedDates.length !== 0") Tovább

    // Overview
    .booking-form(*ngIf="bookingStage === 'overview'")
      h1 Áttekintés
      .data
        p Érkezés:
        .icon-wrapper
          i.fas.fa-calendar-alt
        p
          | {{ booking.arrival.getFullYear() }}. {{ months[booking.arrival.getMonth()] }} {{ booking.arrival.getDate() }}.
      .data
        p Távozás:
        .icon-wrapper
          i.fas.fa-calendar-alt
        p
          | {{ booking.departure.getFullYear() }}. {{ months[booking.departure.getMonth()] }} {{ booking.departure.getDate() }}.
      .data
        p Teljes név:
        .icon-wrapper
          i.fas.fa-user
        p {{ booking.name }}
      .data
        p Telefonszám:
        .icon-wrapper
          i.fas.fa-mobile
        p {{ booking.phone }}
      .data
        p Email:
        .icon-wrapper
          i.fas.fa-envelope
        p {{ booking.email }}
      textarea.message.disabled(disabled, name='message', maxlength='300', placeholder='Megjegyzések', [(ngModel)]="booking.message", #message, (input)='onMessageInput(message)')
      .divider
      .price-wrapper(style="margin-bottom: 30px")
        p Fizetendő összeg:
        p.price {{ formatCurrency(booking.price) }} Ft
        p ({{ booking.nights }} éjszaka)
        p.small Előleg:
        p.price.small {{ formatCurrency(booking.price/2) }} Ft
      button.submit(type='submit') Foglalás most
      p.back
        span((click)="onBack()") Vissza

  .hero-content.info
    h2 Foglalás információk
    p - A lefoglalt időintervalumot az előleg átutalása után tekintjük hivatalosnak.
    p
      | - Előleg utalása: 
      b 12345-12323458
      | , Faházi-Takács Beatrix, Levendula
    p - Érkezésés a foglalt napon bármikor lehetséges, a távozás is rugalmasan alakítható de szeszonban 10:00 időpontot preferáljuk.
    p - További információk a Kapcsolat menüpontban