.hero((window:click)="closeCalendar()")
  .hero-content
    .booking-form(*ngIf="bookingStage === 'form'")
      h1 Foglalás
      .date-picker
        .arrival
          p.title Érkezés:
          .date-field([ngClass]='{activeCalendar: arrivalCalendarActive}', (click)='toggleArrivalCalendar($event)')
            i.fas.fa-calendar-alt
            | {{ booking.arrival.getFullYear() }}. {{ months[booking.arrival.getMonth()] }} {{ booking.arrival.getDate() }}.
        .departure
          p.title Távozás:
          .date-field([ngClass]='{activeCalendar: departureCalendarActive}', (click)='toggleDepartureCalendar($event)')
            i.fas.fa-calendar-alt
            | {{ booking.departure.getFullYear() }}. {{ months[booking.departure.getMonth()] }} {{ booking.departure.getDate() }}.
        app-calendar(*ngIf='showCalendar', [ngClass]="{arrivalPos: calendarMode === 'arrival', departurePos: calendarMode === 'departure'}", (destroy)='onCalendarDestroy()', (submit)='setDate($event)', [currentYear]="calendarInitDate.getFullYear()", [currentMonth]="calendarInitDate.getMonth()")
      .price-wrapper
        p Fizetendő összeg:
        p.price {{ formatCurrency(booking.price) }} Ft
        p ({{ booking.nights }} éjszaka)
        p.small Előleg:
        p.price.small {{ formatCurrency(booking.price/2) }} Ft
      .divider
      form((ngSubmit)="onSubmit(form)", [formGroup]="formName")
        p.title Foglalási adatok:
        .input-wrapper
          input(type='text', formControlName="name", placeholder='Teljes név *', [(ngModel)]="booking.name", [ngClass]="{'invalid-input': formName.get('name').touched && formName.get('name').hasError('required')}")
          .input-icon
            i.fas.fa-user
        .input-wrapper
          input(type='text', formControlName="phone", placeholder='Telefonszám *', [(ngModel)]="booking.phone", [ngClass]="{'invalid-input': formName.get('phone').touched && formName.get('phone').hasError('required')}")
          .input-icon
            i.fas.fa-mobile
        .input-wrapper
          input(type='email', formControlName="email", placeholder='Email *', [(ngModel)]="booking.email", [ngClass]="{'invalid-input': formName.get('email').touched && (formName.get('email').hasError('required') || formName.get('email').hasError('invalidEmail'))}")
          .input-icon
            i.fas.fa-envelope
        textarea.message(formControlName="message", maxlength='300', placeholder='Megjegyzések', [(ngModel)]="booking.message", (input)='onMessageInput()')
        .info-wrapper
          p.char-count A *-al jelölt mezők kitöltése kötelező
          p.char-count Ennyi karakter maradt: {{ messageLength }}
        button.submit(type='submit', [disabled]="formName.invalid") Tovább

    // Overview
    .booking-form(*ngIf="bookingStage === 'overview'")
      h1 Áttekintés
      .data
        p Érkezés:
        .icon-wrapper
          i.fas.fa-calendar-alt
        p
          | {{ booking.arrival.getFullYear() }}. {{ months[booking.arrival.getMonth()] }} {{ booking.arrival.getDate() }}.
      .data
        p Távozás:
        .icon-wrapper
          i.fas.fa-calendar-alt
        p
          | {{ booking.departure.getFullYear() }}. {{ months[booking.departure.getMonth()] }} {{ booking.departure.getDate() }}.
      .data
        p Teljes név:
        .icon-wrapper
          i.fas.fa-user
        p {{ booking.name }}
      .data
        p Telefonszám:
        .icon-wrapper
          i.fas.fa-mobile
        p {{ booking.phone }}
      .data
        p Email:
        .icon-wrapper
          i.fas.fa-envelope
        p {{ booking.email }}
      textarea.message.disabled(disabled, name='message', maxlength='300', placeholder='Nincsenek megjegyzések', [(ngModel)]="booking.message", #message, (input)='onMessageInput(message)')
      .divider
      .price-wrapper(style="margin-bottom: 30px")
        p Fizetendő összeg:
        p.price {{ formatCurrency(booking.price) }} Ft
        p ({{ booking.nights }} éjszaka)
        p.small Előleg:
        p.price.small {{ formatCurrency(booking.price/2) }} Ft
      button.submit((click)="sendBooking()") Foglalás most
      p.back
        span((click)="onBack()") Vissza
    
    // Overview
    .booking-form(*ngIf="bookingStage === 'result'")
      .result-wrapper
        .result.success(*ngIf="bookingResult === 'success'")
          i.fas.fa-info-circle.result
          p.status Foglalási igény elküldve
          p.description Foglalási igényét elbírálásra elküldtük. Hamarosan visszajelzünk, köszönjük.
        .result.failed(*ngIf="bookingResult === 'failed'")
          i.fas.fa-times.result
          p Sikertelen foglalás
          p.description Kérjük próbálja meg más időponttal.
      p.back
        span((click)="onBack()") Vissza

  .hero-content.info(*ngIf="bookingStage === 'overview' || bookingStage === 'form'")
    h2 Foglalás információk
    p - A lefoglalt időintervalumot az előleg átutalása után tekintjük hivatalosnak.
    p
      | - Előleg utalása: 
      b 12345-12323458
      | , Faházi-Takács Beatrix, Levendula
    p - Érkezésés a foglalt napon bármikor lehetséges, a távozás is rugalmasan alakítható de szeszonban 10:00 időpontot preferáljuk.
    p - További információk a Kapcsolat menüpontban