.hero((window:click)="closeCalendar()")
  .notification-panel(*ngIf="!bookingEnabled && showNotification")
      .hero-content
        h1 Figyelem!
        p A foglalás weboldalon keresztül átmenetileg szünetel!
        p A szabad időpontokat megtekinthetők, de új foglalást a weboldalon keresztül nem küldhető be.
        p Foglalási szándékát kérem Facebookon vagy e-mailban jelezze.
        p Megértését köszönjük
        button.submit((click)="showNotification=!showNotification") Bezárás
  .hero-content
    .booking-form(*ngIf="bookingStage === 'form'")
      h1 Foglalás
      .date-picker
        .arrival
          p.title Érkezés:
          .date-field([ngClass]='{activeCalendar: arrivalCalendarActive}', (click)='toggleArrivalCalendar($event)')
            i.fas.fa-calendar-alt
            | {{ booking.arrival.getFullYear() }}. {{ getMonthNameById(booking.arrival.getMonth()) }} {{ booking.arrival.getDate() }}.
        .departure
          p.title Távozás:
          .date-field([ngClass]='{activeCalendar: departureCalendarActive}', (click)='toggleDepartureCalendar($event)')
            i.fas.fa-calendar-alt
            | {{ booking.departure.getFullYear() }}. {{ getMonthNameById(booking.departure.getMonth()) }} {{ booking.departure.getDate() }}.
        app-calendar(*ngIf='showCalendar', [ngClass]="{arrivalPos: calendarMode === 'arrival', departurePos: calendarMode === 'departure'}", (destroy)='onCalendarDestroy()', (submit)='setDate($event)', [currentYear]="calendarInitDate.getFullYear()", [currentMonth]="calendarInitDate.getMonth()")
      .price-wrapper
        p Összesen fizetendő:
        p.price {{ formatCurrency(booking.price) }} Ft
        p ({{ booking.nights }} éjszaka)
        p.small Előleg (50%):
        p.price.small {{ formatCurrency(booking.price/2) }} Ft
      .divider
      form((ngSubmit)="onSubmit(form)", [formGroup]="formName")
        p.title Foglalási adatok:
        .input-wrapper
          input([attr.disabled]="bookingEnabled? null : '' ", type='text', formControlName="name", placeholder='*Teljes név (Példa Pál)', [(ngModel)]="booking.name", [ngClass]="{'invalid-input': formName.get('name').touched && formName.get('name').hasError('required')}")
          .input-icon
            i.fas.fa-user
        .input-wrapper
          input([attr.disabled]="bookingEnabled? null : '' ", type='text', formControlName="phone", placeholder='*Telefonszám (+36301234567)', [(ngModel)]="booking.phone", [ngClass]="{'invalid-input': formName.get('phone').touched && formName.get('phone').hasError('required')}")
          .input-icon
            i.fas.fa-mobile
        .input-wrapper
          input([attr.disabled]="bookingEnabled? null : '' ", type='email', formControlName="email", placeholder='*E-mail (pelda@email.hu)', [(ngModel)]="booking.email", [ngClass]="{'invalid-input': formName.get('email').touched && (formName.get('email').hasError('required') || formName.get('email').hasError('invalidEmail'))}")
          .input-icon
            i.fas.fa-envelope
        textarea.message([attr.disabled]="bookingEnabled? null : '' ", formControlName="message", maxlength='300', placeholder='Megjegyzések', [(ngModel)]="booking.message", (input)='onMessageInput()')
        .info-wrapper
          p.char-count A *-al jelölt mezők kitöltése kötelező
          p.char-count Ennyi karakter maradt: {{ messageLength }}
        button.submit(type='submit', [disabled]="formName.invalid") Tovább

    // Overview
    .booking-form(*ngIf="bookingStage === 'overview'")
      h1 Áttekintés
      .data
        p Érkezés:
        .icon-wrapper
          i.fas.fa-calendar-alt
        p
          | {{ booking.arrival.getFullYear() }}. {{ getMonthNameById(booking.arrival.getMonth()) }} {{ booking.arrival.getDate() }}.
      .data
        p Távozás:
        .icon-wrapper
          i.fas.fa-calendar-alt
        p
          | {{ booking.departure.getFullYear() }}. {{ getMonthNameById(booking.departure.getMonth()) }} {{ booking.departure.getDate() }}.
      .data
        p Teljes név:
        .icon-wrapper
          i.fas.fa-user
        p {{ booking.name }}
      .data
        p Telefonszám:
        .icon-wrapper
          i.fas.fa-mobile
        p {{ booking.phone }}
      .data
        p E-mail:
        .icon-wrapper
          i.fas.fa-envelope
        p {{ booking.email }}
      textarea.message.disabled(disabled, name='message', maxlength='300', placeholder='Nincsenek megjegyzések', [(ngModel)]="booking.message", #message, (input)='onMessageInput(message)')
      .divider
      .price-wrapper
        p Összesen fizetendő:
        p.price {{ formatCurrency(booking.price) }} Ft
        p ({{ booking.nights }} éjszaka)
        p.small Előleg (50%):
        p.price.small {{ formatCurrency(booking.price/2) }} Ft
      ngx-invisible-recaptcha(#captchaElem='', [siteKey]="siteKey", (reset)='handleReset()', (ready)='handleReady()', (load)='handleLoad()', (success)='handleSuccess($event)', [useGlobalDomain]='false', [type]='type', [ngModel]='recaptcha', [ngModelOptions]='{ standalone: true }')
      .divider
      .checkbox-wrapper
          label
            input(type='checkbox', [checked]="dataProtection", (change)="dataProtection=!dataProtection")
            | Elolvastam és elfogadom az
            a(target="_blank", rel="noopener noreferrer", href='https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Adatvedelmi_nyilatkozat.pdf') adatvédelmi
            | nyilatkozatot! *
          label
            input(type='checkbox', [checked]="newsLetter", (change)="newsLetter=!newsLetter")
            | Szeretnék értesülni az újdonságokról e-mail-ben!
          label
            input(type='checkbox', [checked]="dataHandling", (change)="dataHandling=!dataHandling")
            | Hozzájárulok a megadott adataim kezeléséhez! *
          label
            input(type='checkbox', [checked]="houseRules", (change)="houseRules=!houseRules")
            | Elolvastam és elfogadom a
            a(target="_blank", rel="noopener noreferrer", href='https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Hazirend.pdf') házirendet
            | és a
            br
            a.newline(target="_blank", rel="noopener noreferrer", href='https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Foglalassal_kapcsolatos_informaciok.pdf') foglalási feltételeket
            | ! *
      button.submit(type='submit', (click)="sendBooking()", [disabled]="isSendingDisabled()") Foglalás most
      p.back
        span((click)="onBack()") Vissza

    // Overview
    .booking-form(*ngIf="bookingStage === 'result'")
      .result-wrapper
        .result.success(*ngIf="bookingResult === 'success'")
          i.fas.fa-info-circle.result
          p.status Foglalási igény elküldve
          p.description Foglalási igényét elbírálásra elküldtük. Hamarosan visszajelzünk, köszönjük.
          p.reservation-info
            | Foglalási azonosító:
            b {{booking.reservationId}}
        .result.failed(*ngIf="bookingResult === 'failed'")
          i.fas.fa-times.result
          p Sikertelen foglalás
          p.description Kérjük próbálja meg más időponttal.
      p.back
        span((click)="onBack()") Vissza
    .loading(*ngIf="showLoading")
      app-loading-circle(show="false")

  .hero-content.info(*ngIf="bookingStage === 'overview' || bookingStage === 'form'")
    h2 Foglalással kapcsolatos
    p - Az Idegen Forgalmi Adó (IFA) nincs az árban.
    p - A lefoglalt időintervalumot az előleg átutalása után tekintjük hivatalosnak. A vissza nem igazolt foglalások 72 órán belül törlődnek!
    p
      | - Kérlek az utás közleményébe írd bele a foglalási számod. Előleg átutalásához szükséges adatokat a
      a(href="/contact") kapcsolat menüpont alatt
      | valamint az utalás menetéről e-mail-ben és
      a(target="_blank", rel="noopener noreferrer", href="https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Foglalassal_kapcsolatos_informaciok.pdf") az alábbi linken
      | találsz.
    p - Érkezésés a foglalt napon bármikor lehetséges, a távozás is rugalmasan alakítható de szeszonban 10:00 időpontot preferáljuk.
    p
      | - Lemondásról és egyéb információkról részleteket az
      a(target="_blank", rel="noopener noreferrer", href="https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Foglalassal_kapcsolatos_informaciok.pdf") az alábbi linken
      | vagy a visszaigazoló e-mail-ben találsz.
